**/rsa_api.log
.gradleTouchFile
*debug.out
*#*#
*.eml
*.iml
*.swp
*.hprof
*hs_err_pid*
*.ipr
*.iws
*.orig
*.class
*~
.ivycache
.DS_Store
.clover
.cloverhistory
**/.gradle/
tools/kafka/**/logs
local.gradle*
local.integrationTest.gradle*
.idea
.idea/
.metadata/*
.project
.reviewboardrc
.settings
.springBeans
.svn
.#*
/bin